body{
    margin-right: 30px;
    margin-left: 30px;
}

header{
    background-color: #e579e6;
    height: 50px;
}
.menu1{
    background-color: #e1d67a;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    background-color: #0186ff;
    margin-bottom: 5px;
    height: 350px;
    width: 100%;
}
footer{
    background-color: #8801fe;
    height: 30px;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}

.menu{
    width: 20%; 
}


.main{
    width: 56%;
    margin: 10px 2% 0 2%;
    
}
#banner{
    background-color: #abcfe7;
    height: 40px;
}
.container > div{
    height: 315px;
    float: left;
    margin: 10px 0 0 0;
    background-color: #abcfe7;
}
