body{
    margin-right: 30px;
    margin-left: 30px;
}

header{
    background-color: #e579e6;
    height: 50px;
}
.menu1{
    background-color: #e1d67a;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    background-color: #0186ff;
    margin-bottom: 5px;
    height: 350px;
}
footer{
    background-color: #8801fe;
    height: 30px;
}
